@charset "UTF-8";
.business_contact #select-day .img, .business_contact #select-time .img {
  display: inline; }

.business_contact .hidden {
  display: none; }

.business_contact #template {
  display: none; }

.business_contact #submit {
  width: 100%;
  padding: 15px 0;
  font-size: 18px; }

.regist-flow {
  display: table;
  border-collapse: separate;
  border-spacing: 40px 0;
  margin: 20px 0;
  padding: 0;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .regist-flow {
      border-spacing: 0; } }
  .regist-flow__items {
    position: relative;
    display: table-cell;
    border: 1px solid #ccc;
    width: 180px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    list-style-type: none; }
    @media screen and (max-width: 768px) {
      .regist-flow__items {
        display: block;
        width: 76%;
        margin-left: 12%; } }
    @media screen and (max-width: 768px) {
      .regist-flow__items + .regist-flow__items {
        margin-top: 7vw; } }
    .regist-flow__items + .regist-flow__items:before {
      position: absolute;
      content: "→";
      left: -33px;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      font-size: 30px; }
      @media screen and (max-width: 768px) {
        .regist-flow__items + .regist-flow__items:before {
          content: "↓";
          left: 50%;
          top: -9vw;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
          font-size: 20px; } }

.regist-claim {
  padding: 20px;
  background: #f4f4f4; }
  .regist-claim p {
    margin-bottom: 0; }
  .regist-claim.is-error {
    background: #fff1f1; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJ1c2luZXNzX2NvbnRhY3QuY3NzIiwiYnVzaW5lc3NfY29udGFjdC5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLGlCQUFpQjtBQ0VqQjtFQUdNLGdCQUFlLEVBQ2hCOztBQUpMO0VBT0ksY0FBYSxFQUNkOztBQVJIO0VBVUksY0FBYSxFQUNkOztBQVhIO0VBYUksWUFBVztFQUNYLGdCQUFlO0VBQ2YsZ0JBQWUsRUFDaEI7O0FBR0Q7RUFDRSxlQUFjO0VBQ2QsMEJBQXlCO0VBQ3pCLHVCQUFzQjtFQUN0QixlQUFjO0VBQ2QsV0FBVTtFQUNWLFlBQVcsRUF1Q1o7RUF0Q0M7SUFQRjtNQVFJLGtCQUFpQixFQXFDcEIsRUFBQTtFQW5DQztJQUNFLG1CQUFrQjtJQUNsQixvQkFBbUI7SUFDbkIsdUJBQXNCO0lBQ3RCLGFBQVk7SUFDWixhQUFZO0lBQ1osbUJBQWtCO0lBQ2xCLHVCQUFzQjtJQUN0QixzQkFBcUIsRUEwQnRCO0lBekJDO01BVEY7UUFVSSxlQUFjO1FBQ2QsV0FBVTtRQUNWLGlCQUFnQixFQXNCbkIsRUFBQTtJQW5CRztNQWZIO1FBZ0JLLGdCQUFlLEVBaUJsQixFQUFBO0lBakNGO01BbUJLLG1CQUFrQjtNQUNsQixhQUFhO01BQ2IsWUFBVztNQUNYLFNBQVE7TUFDUixvQ0FBMkI7VUFBM0IsZ0NBQTJCO2NBQTNCLDRCQUEyQjtNQUMzQixnQkFBZSxFQVFoQjtNQVBDO1FBekJMO1VBMEJPLGFBQWE7VUFDYixVQUFTO1VBQ1QsVUFBUztVQUNULG9DQUEyQjtjQUEzQixnQ0FBMkI7a0JBQTNCLDRCQUEyQjtVQUMzQixnQkFBZSxFQUVsQixFQUFBOztBQUlQO0VBQ0UsY0FBYTtFQUNiLG9CQUFtQixFQU9wQjtFQVRBO0lBSUcsaUJBQWdCLEVBQ2pCO0VBTEY7SUFPRyxvQkFBbUIsRUFDcEIiLCJmaWxlIjoiYnVzaW5lc3NfY29udGFjdC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJAY2hhcnNldCBcIlVURi04XCI7XG4uYnVzaW5lc3NfY29udGFjdCAjc2VsZWN0LWRheSAuaW1nLCAuYnVzaW5lc3NfY29udGFjdCAjc2VsZWN0LXRpbWUgLmltZyB7XG4gIGRpc3BsYXk6IGlubGluZTsgfVxuXG4uYnVzaW5lc3NfY29udGFjdCAuaGlkZGVuIHtcbiAgZGlzcGxheTogbm9uZTsgfVxuXG4uYnVzaW5lc3NfY29udGFjdCAjdGVtcGxhdGUge1xuICBkaXNwbGF5OiBub25lOyB9XG5cbi5idXNpbmVzc19jb250YWN0ICNzdWJtaXQge1xuICB3aWR0aDogMTAwJTtcbiAgcGFkZGluZzogMTVweCAwO1xuICBmb250LXNpemU6IDE4cHg7IH1cblxuLnJlZ2lzdC1mbG93IHtcbiAgZGlzcGxheTogdGFibGU7XG4gIGJvcmRlci1jb2xsYXBzZTogc2VwYXJhdGU7XG4gIGJvcmRlci1zcGFjaW5nOiA0MHB4IDA7XG4gIG1hcmdpbjogMjBweCAwO1xuICBwYWRkaW5nOiAwO1xuICB3aWR0aDogMTAwJTsgfVxuICBAbWVkaWEgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiA3NjhweCkge1xuICAgIC5yZWdpc3QtZmxvdyB7XG4gICAgICBib3JkZXItc3BhY2luZzogMDsgfSB9XG4gIC5yZWdpc3QtZmxvd19faXRlbXMge1xuICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgICBkaXNwbGF5OiB0YWJsZS1jZWxsO1xuICAgIGJvcmRlcjogMXB4IHNvbGlkICNjY2M7XG4gICAgd2lkdGg6IDE4MHB4O1xuICAgIHBhZGRpbmc6IDVweDtcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgdmVydGljYWwtYWxpZ246IG1pZGRsZTtcbiAgICBsaXN0LXN0eWxlLXR5cGU6IG5vbmU7IH1cbiAgICBAbWVkaWEgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiA3NjhweCkge1xuICAgICAgLnJlZ2lzdC1mbG93X19pdGVtcyB7XG4gICAgICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgICAgICB3aWR0aDogNzYlO1xuICAgICAgICBtYXJnaW4tbGVmdDogMTIlOyB9IH1cbiAgICBAbWVkaWEgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiA3NjhweCkge1xuICAgICAgLnJlZ2lzdC1mbG93X19pdGVtcyArIC5yZWdpc3QtZmxvd19faXRlbXMge1xuICAgICAgICBtYXJnaW4tdG9wOiA3dnc7IH0gfVxuICAgIC5yZWdpc3QtZmxvd19faXRlbXMgKyAucmVnaXN0LWZsb3dfX2l0ZW1zOmJlZm9yZSB7XG4gICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgICBjb250ZW50OiBcIuKGklwiO1xuICAgICAgbGVmdDogLTMzcHg7XG4gICAgICB0b3A6IDUwJTtcbiAgICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWSgtNTAlKTtcbiAgICAgIGZvbnQtc2l6ZTogMzBweDsgfVxuICAgICAgQG1lZGlhIHNjcmVlbiBhbmQgKG1heC13aWR0aDogNzY4cHgpIHtcbiAgICAgICAgLnJlZ2lzdC1mbG93X19pdGVtcyArIC5yZWdpc3QtZmxvd19faXRlbXM6YmVmb3JlIHtcbiAgICAgICAgICBjb250ZW50OiBcIuKGk1wiO1xuICAgICAgICAgIGxlZnQ6IDUwJTtcbiAgICAgICAgICB0b3A6IC05dnc7XG4gICAgICAgICAgdHJhbnNmb3JtOiB0cmFuc2xhdGVYKC01MCUpO1xuICAgICAgICAgIGZvbnQtc2l6ZTogMjBweDsgfSB9XG5cbi5yZWdpc3QtY2xhaW0ge1xuICBwYWRkaW5nOiAyMHB4O1xuICBiYWNrZ3JvdW5kOiAjZjRmNGY0OyB9XG4gIC5yZWdpc3QtY2xhaW0gcCB7XG4gICAgbWFyZ2luLWJvdHRvbTogMDsgfVxuICAucmVnaXN0LWNsYWltLmlzLWVycm9yIHtcbiAgICBiYWNrZ3JvdW5kOiAjZmZmMWYxOyB9XG4iLCJAY2hhcnNldCBcInV0Zi04XCI7XHJcblxyXG4uYnVzaW5lc3NfY29udGFjdCB7XHJcbiAgI3NlbGVjdC1kYXksICNzZWxlY3QtdGltZSB7XHJcbiAgICAuaW1nIHtcclxuICAgICAgZGlzcGxheTogaW5saW5lO1xyXG4gICAgfVxyXG4gIH1cclxuICAuaGlkZGVuIHtcclxuICAgIGRpc3BsYXk6IG5vbmU7XHJcbiAgfVxyXG4gICN0ZW1wbGF0ZSB7XHJcbiAgICBkaXNwbGF5OiBub25lO1xyXG4gIH1cclxuICAjc3VibWl0IHtcclxuICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgcGFkZGluZzogMTVweCAwO1xyXG4gICAgZm9udC1zaXplOiAxOHB4O1xyXG4gIH1cclxufVxyXG4ucmVnaXN0IHtcclxuICAmLWZsb3cge1xyXG4gICAgZGlzcGxheTogdGFibGU7XHJcbiAgICBib3JkZXItY29sbGFwc2U6IHNlcGFyYXRlO1xyXG4gICAgYm9yZGVyLXNwYWNpbmc6IDQwcHggMDtcclxuICAgIG1hcmdpbjogMjBweCAwO1xyXG4gICAgcGFkZGluZzogMDtcclxuICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgQG1lZGlhIHNjcmVlbiBhbmQgKG1heC13aWR0aDogNzY4cHgpIHtcclxuICAgICAgYm9yZGVyLXNwYWNpbmc6IDA7XHJcbiAgICB9XHJcbiAgICAmX19pdGVtcyB7XHJcbiAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICAgICAgZGlzcGxheTogdGFibGUtY2VsbDtcclxuICAgICAgYm9yZGVyOiAxcHggc29saWQgI2NjYztcclxuICAgICAgd2lkdGg6IDE4MHB4O1xyXG4gICAgICBwYWRkaW5nOiA1cHg7XHJcbiAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgICAgdmVydGljYWwtYWxpZ246IG1pZGRsZTtcclxuICAgICAgbGlzdC1zdHlsZS10eXBlOiBub25lO1xyXG4gICAgICBAbWVkaWEgc2NyZWVuIGFuZCAobWF4LXdpZHRoOiA3NjhweCkge1xyXG4gICAgICAgIGRpc3BsYXk6IGJsb2NrO1xyXG4gICAgICAgIHdpZHRoOiA3NiU7XHJcbiAgICAgICAgbWFyZ2luLWxlZnQ6IDEyJTtcclxuICAgICAgfVxyXG4gICAgICAmICsgLnJlZ2lzdC1mbG93X19pdGVtcyB7XHJcbiAgICAgICAgQG1lZGlhIHNjcmVlbiBhbmQgKG1heC13aWR0aDogNzY4cHgpIHtcclxuICAgICAgICAgIG1hcmdpbi10b3A6IDd2dztcclxuICAgICAgICB9ICAgICAgIFxyXG4gICAgICAgICY6YmVmb3JlIHtcclxuICAgICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgICAgICAgIGNvbnRlbnQ6IFwi4oaSXCI7XHJcbiAgICAgICAgICBsZWZ0OiAtMzNweDtcclxuICAgICAgICAgIHRvcDogNTAlO1xyXG4gICAgICAgICAgdHJhbnNmb3JtOiB0cmFuc2xhdGVZKC01MCUpO1xyXG4gICAgICAgICAgZm9udC1zaXplOiAzMHB4O1xyXG4gICAgICAgICAgQG1lZGlhIHNjcmVlbiBhbmQgKG1heC13aWR0aDogNzY4cHgpIHtcclxuICAgICAgICAgICAgY29udGVudDogXCLihpNcIjtcclxuICAgICAgICAgICAgbGVmdDogNTAlO1xyXG4gICAgICAgICAgICB0b3A6IC05dnc7XHJcbiAgICAgICAgICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWCgtNTAlKTtcclxuICAgICAgICAgICAgZm9udC1zaXplOiAyMHB4O1xyXG4gICAgICAgICAgfSAgICAgICBcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcbiAgJi1jbGFpbSB7XHJcbiAgICBwYWRkaW5nOiAyMHB4O1xyXG4gICAgYmFja2dyb3VuZDogI2Y0ZjRmNDtcclxuICAgIHAge1xyXG4gICAgICBtYXJnaW4tYm90dG9tOiAwO1xyXG4gICAgfVxyXG4gICAgJi5pcy1lcnJvciB7XHJcbiAgICAgIGJhY2tncm91bmQ6ICNmZmYxZjE7XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG4iXX0= */
